body {
  margin: 0;
}

#code {
  font-size: 1.3rem;
}

form {
  margin-top: 40px;
  margin-bottom: 20px;
}

.loadFileButton {
  border: 2px solid salmon;
  font-size: 16px;
  color: salmon;
  padding: 10px;
  font-family: monospace;
  border-radius: 2px;
  cursor: pointer;
}

.loadFileButton:hover {
  opacity: 0.9;
}

.code-wrapper {
  padding: 20px;
  border-top: 1px solid salmon;
}

.code-wrapper pre {
  font-size: 1.1rem;
}
