body {
  margin: 0;
}

form {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.button {
  border: 2px solid salmon;
  font-size: 16px;
  color: salmon;
  padding: 10px;
  font-family: monospace;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s;
  text-transform: uppercase;
  background: white;
  margin: 20px;
}

.button:hover {
  color: white;
  background: salmon;
}

.or {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.code-wrapper {
  padding: 20px;
  border-top: 1px solid salmon;
}

.code {
  position: relative;
}

.char.topass {
  opacity: 0.5;
}

.char.notpassed {
  background: rgba(255, 0, 0, 0.5);
}

/* Cursor */

.cursor {
  position: absolute;
  width: 10px;
  height: 18px;
  background: #5ce600;
  opacity: 0.6;
  top: 0;
}


/* Stats */

.stats {
  border-top: 1px solid salmon;
  text-align: center;
}

/* Helpers */

.hide {
  display: none;
}